<center>
    
<nav class="navfooter">
   
    <ul>
                <li><a href="https://www.instagram.com/_scrawlednotions/">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/hardishukla/">linkedin</a></li>
        <li><a href="https://www.behance.net/hardishukla">Behance</a></li>
    </ul>
    <p style="padding-top: 0px; padding-bottom: 30px; opacity: 70%; font-size: medium;">All images are subject to copyright Hardi Shukla©2025</p>

            </nav>
        </center>
 
   
     
  
