<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<meta property="og:title" content="Hardi Shukla">
<meta property="og:description" content="Works that filled with colors, characters, and curiosity">
<meta property="og:image" content="{{ site.url }}/assets/images/1.PNG">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Hardi Shukla">
<meta name="twitter:description" content="Works that filled with colors, characters, and curiosity">
<meta name="twitter:image" content="{{ site.url }}/assets/images/1-pro.PNG">

    <title>Document</title>
</head>