        
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 90%;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
/*    border: 1px solid #333;*/
}

h1 {
    font-size: 26px;
    margin: 10px 0;
    color: #333;
    font-weight: 600;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.link {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 80%;
    text-decoration: none;
    color: white;
    background: #333;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
    font-weight: 500;
}

.link:hover {
    background: #555;
    transform: translateY(-2px);
}
