<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<!-- Primary PNG favicon -->
<link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png">

<!-- Optional fallback for older browsers -->
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
<meta property="og:image" content="https://www.hardishukla.com/assets/images/og-image.png">

    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

<!-- social media -->
<!-- Open Graph / Facebook / WhatsApp / LinkedIn -->
<meta property="og:title" content="Hardi Shukla">
<meta property="og:description" content="Works that are filled with colours, characters, and curiosity!">
<meta property="og:image" content="https://www.hardishukla.com/assets/images/og-image.png">
<meta property="og:url" content="https://www.hardishukla.com">
<meta property="og:type" content="website">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Hardi Shukla">
<meta name="twitter:description" content="Works that are filled with colours, characters, and curiosity!">
<meta name="twitter:image" content="https://www.hardishukla.com/assets/images/og-image.png">


  </head>

  <body>
    {% include header.html %}
    <div>
    {{ content }}
    </div>

  </body>

  {% include footer.html %}
</html>
